<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <script>
    </script>
    <script>
        function removeData(el) {

            let id = el.dataset.id;

            fetch('/remove_data', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: id }),
            })
            .then(response => {
                if (response.ok) {
                    // Kind of the lazy way of handling this... but oh well :)
                    window.location.reload()
                } else {
                    console.log("Request failed.");
                }
            })
            .catch(error => {
                console.error("There was an error: ", error);
            });
        }

        function saveUpdatedData(el) {

            let textArea = el.parentNode.children[0];
            let newContent = textArea.value;
            let id = el.dataset.id;

            fetch('/update_data', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: id, content: newContent }),
            })
            .then(response => {
                if (response.ok) {
                    // Kind of the lazy way of handling this... but oh well :)
                    window.location.reload()
                } else {
                    console.log("Request failed.");
                }
            })
            .catch(error => {
                console.error("There was an error: ", error);
            })
        }

        function updateData(el, currentContent) {
            let id = el.dataset.id;
            let parent = el.parentNode;

            console.log("getting here");
            console.log(parent)

            // Removing all children
            parent.innerHTML = `<textarea>${currentContent}</textarea><button data-id="${id}" onclick="saveUpdatedData(this)">Save</button>`;
        }
    </script>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="wrapper">
        <h2>Super secret stuff</h2>
        <p>Welcome {{user.username}}!</p>

        {% for message in get_flashed_messages() %}
        <p><i>{{ message }}</i></h1>
        {% endfor %}

        <form action="/add_data" method="post">
            <label for="content">Add new data:</label><br>
            <textarea id="content" name="content" rows="4" cols="50" required></textarea><br><br>
            <input type="submit" value="Add Data">
        </form>

        <h3>Your Data:</h3>
        <ul>
            {% for data in user_data %}
            <li>
                {{ data[1] }}
                <button data-id="{{data[0]}}" onclick="updateData(this, '{{ data[1] }}')">Update</button>
                <button data-id="{{data[0]}}" onclick="removeData(this);">Remove</button>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>