<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="wrapper">
        <h2>Register</h2>
        {% for message in get_flashed_messages() %}
        <p><i>{{ message }}</i></h1>
            {% endfor %}
        <form action="/register" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Register">
        </form>
    </div>
</body>

</html>